

.bg-color{
    background-color: #10385C;
    width: 100%;
    height: 92px;
}
.navbar-brand
{
    margin: 0 !important;
    padding: 0;
    height: 80px;
    float: right;
}
.NavRow
{
    width: 100%;
    align-items: center;
    z-index: 2;
}
.navbar-brand a{
    color:  #fff !important;
    text-decoration: none !important;
    font-family: 'Lemonada', cursive;
    font-size: 27px;
    height: 100%;
    font-weight: 400;
    transition: color .2s ease-in-out;
}
.navbar-nav a{
    color: #fff !important;
    text-decoration: none;
    transition: color .2s ease-in-out;
    font-size: 30px;
    font-family: 'Lateef' , cursive;
}
.navbar-brand a:hover,.navbar-nav a:hover{
    color: rgb(243, 198, 35) !important;
    text-decoration: none;
}
.dropdown-menu{
    background-color: #10385C !important;
}
.dropdown-menu a{
    width: 100%;
    padding: 0;
    text-align: center;
}
.dropdown-item{
    background-color: #10385C !important;
}
.dropdown-item:hover{
    color: aqua !important;
}