@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
.bg-color{
    background-image: linear-gradient(to right top,#10385C,rgb(243, 198, 35));
    height: 80px;
}
.navbar-brand
{
    margin: 0 !important;
    padding: 0;
}
.NavRow
{
    width: 100%;
}
.navbar-brand a{
    color:  #10385C !important;
    text-decoration: none !important;
    font-family: 'Lateef', cursive;
    font-size: 35px;
    height: 100%;
    font-weight: 400;
    transition: color .2s ease-in-out;
}
.navbar-nav a{
    color: #10385C !important;
    text-decoration: none;
    transition: color .2s ease-in-out;
    font-size: 20px;
}
.navbar-brand a:hover,.navbar-nav a:hover{
    color: rgb(243, 198, 35) !important;
    text-decoration: none;
}
.dropdown-menu{
    background-color: #10385C !important;
}
.dropdown-menu a{
    width: 100%;
    padding: 0;
    text-align: center;
}
.dropdown-item{
    background-color: #10385C !important;
}
.dropdown-item:hover{
    color: aqua !important;
}