@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
.bg-color{
    background: #10385C !important;
    height: 83px;
}
.navbar-brand a{
    color:#F3F6FF !important;
    text-decoration: none !important;
    font-family: 'Lateef', cursive;
    font-size: 30px;
    height: 100%;
    transition: color .2s ease-in-out;
}
.navbar-nav a{
    color: #F3F6FF !important;
    text-decoration: none;
    transition: color .2s ease-in-out;
}
.navbar-brand a:hover,.navbar-nav a:hover{
    color: #09C5AA !important;
    text-decoration: none;
}
.dropdown-menu{
    background-color: #10385C !important;
}
.dropdown-menu a{
    width: 100%;
    padding: 0;
    text-align: center;
}
.dropdown-item{
    background-color: #10385C !important;
}
.dropdown-item:hover{
    color: aqua !important;
}